:root {
    --yellow: #F4D03F;
    --blue: #5DADE2;
    --pink: #F5B7B1;
    --green: #58D68D;
    --text-grey: #515A5A;
    --text-dark: #2C3E50;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Utilisez vh pour la hauteur complète de la fenêtre d'affichage */
}


header {
    background-color: white;
    color: var(--text-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
}

footer {
    margin-top: auto;
    background-color: var(--text-dark);
    color: white;
    padding: 1em 0;
    text-align: center;
}

.footer-section {
    display: flex;
    flex-direction: column; /* Keep it stacked vertically on mobile */
    align-items: center;
    /* Add your existing styles for .footer-section here */
}

/* Styles adjustments for larger screens */
@media (min-width: 768px) {
    .footer-section {
        flex-direction: row; /* Align footer elements horizontally */
        justify-content: space-between; /* Distribute space between elements */
    }
}

/* Ajustements pour les écrans plus grands avec requêtes médias */
@media (min-width: 768px) {
    .nav-logo img, .nav-github img {
        width: 4em; /* Taille plus grande pour les écrans plus larges */
    }

    .nav-links a {
        font-size: 1em; /* Taille de police standard pour les écrans plus larges */
    }

    .player {
        width: calc(25% - 1em); /* Quatre joueurs par ligne sur les écrans plus larges */
    }

    .game-buttons button {
        font-size: 1em; /* Taille de police ajustée */
    }
}

.footer-links, .footer-page-links {
    margin: 10px 0;
}

.footer-links a, .footer-page-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover, .footer-page-links a:hover {
    text-decoration: underline;
}

.footer-logo img {
    max-width: 100px; /* Taille ajustable du logo */
    margin-bottom: 10px; /* Espacement sous le logo */
}

/* Ajustements pour les grands écrans */
@media (min-width: 768px) {
    .footer-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-links, .footer-page-links {
        flex: 1; /* Permet aux liens de prendre de l'espace */
        display: flex;
        justify-content: space-around; /* Espacement égal entre les liens */
    }

    .footer-logo {
        flex: 0; /* Empêche le logo de grandir */
    }
}



/* Styles de la barre de navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: white;
}

.nav-logo img, .nav-github img {
    height: auto;
    width: 3em; /* Taille adaptée pour mobile */
}

.nav-links a {
    font-size: 0.9em; /* Taille de police plus petite pour les mobiles */
    padding: 0.5em;
    color: var(--text-dark);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--blue);
}



.nav-github img {
    height: 30px;
    filter: grayscale(100%); /* Icône GitHub en noir et blanc pour le minimalisme */
}

.nav-github img:hover, .nav-github img:focus {
    filter: none; /* L'icône reprend ses couleurs originales au survol */
}

.game-introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour séparer la section du reste du contenu */
    margin: 20px 0; /* Espacement autour de la section */
}

.game-image img {
    width: 100%; /* Taille de l'image ajustable selon vos besoins */
    max-width: 300px; /* Pour éviter que l'image ne soit trop grande */
    height: auto;
}

.game-description {
    width: 50%; /* Utilise l'autre moitié de l'espace */
}

.game-description h2 {
    animation: popIn 0.5s ease-out forwards;
}

@keyframes popIn {
    0% { transform: scale(0); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


.game-description p {
    font-size: 16px;
    line-height: 1.6; /* Améliore la lisibilité du paragraphe */
    color: var(--text-grey);
    margin: -10px;
}

/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    .game-introduction {
        flex-direction: column;
        text-align: center;
    }

    .game-image, .game-description {
        width: 100%;
    }

    .game-image img {
        margin-bottom: 20px; /* Ajoute de l'espace entre l'image et le texte sur les petits écrans */
    }
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('images/icon.png');
    background-size: cover;
    margin-right: 8px;
}

.game-banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2), /* Couche noire avec opacité de 30% */
        rgba(0, 0, 0, 0.2)  /* Répétez la même couleur pour un effet uniforme */
    ),
    url('images/bg_website.png') no-repeat center center; /* Image de fond */
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    color: white;
    position: relative;
}


.game-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* Couche noire avec une opacité de 30% */
    z-index: -1; /* Assure que le contenu de la bannière reste cliquable */
}


.game-banner h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.game-banner p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.trailer-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.trailer-button:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

.home-game-intro {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    transition: background-color 0.3s ease;
    position: relative; /* S'assure que les enfants en position absolue sont positionnés par rapport à ce conteneur */
}


.home-game-intro:hover {
    background-color: var(--yellow); /* Changement de couleur au survol */
}

.intro-content {
    position: relative; /* Positionne les textes par rapport à ce div */
}

.intro-text, .intro-hover-text {
    transition: opacity 0.3s ease;
    position: absolute; /* Les positionne de manière absolue dans le div 'intro-content' */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Assure que le texte est centré correctement */
    text-align: center;
    opacity: 0;
    margin-top: 40px;
    visibility: hidden; /* Cache le texte initialement */
}

.intro-text {
    opacity: 1;
    visibility: visible; /* Rend le texte initial visible par défaut */
}

.home-game-intro:hover .intro-text {
    opacity: 0;
    visibility: hidden; /* Cache le texte initial au survol */
}

.home-game-intro:hover .intro-hover-text {
    opacity: 1;
    visibility: visible; /* Rend le texte de survol visible */
}

.home-game-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-game-button:hover {
    background-color: var(--green);
}

.creators-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes */
    gap: 20px; /* Espacement entre les éléments de la grille */
    padding: 40px;
    text-align: center; /* Centrage du texte */
}

.creator img {
    width: 100%; /* Taille de l'image */
    max-width: 200px; /* Largeur maximale pour ne pas que l'image soit trop grande */
    margin: 0 auto; /* Centrage de l'image */
    border-radius: 50%; /* Images rondes */
}

.creator h3 {
    margin: 10px 0; /* Espacement autour du nom */
}

/* Styles supplémentaires pour le texte, les diplômes et les descriptions */
.creator p {
    color: #666;
    font-size: 14px;
}

.creator a {
    display: inline-block;
    margin-top: 10px;
}

/* Ajout d'une classe spécifique pour l'icône LinkedIn */
.linkedin-icon {
    width: 20px; /* Taille ajustée de l'icône */
    height: auto;
    display: block; /* ou 'inline-block' selon le besoin */
    margin: 5px auto; /* Centrage et espacement de l'icône */
}

/* Style au survol pour l'icône LinkedIn */
.linkedin-icon:hover {
    opacity: 0.8;
}



/* Responsive design pour les petits écrans */
@media (max-width: 768px) {
    .creators-section {
        grid-template-columns: 1fr; /* Une colonne sur les petits écrans */
    }
}

/* Page 2 */

.players-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.player {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1em;
    width: calc(50% - 1em); /* Prend en compte l'espacement */
}

.player img {
    width: 5em; /* Taille de l'image ajustée */
    height: auto;
    border-radius: 50%;
    margin-bottom: 0.5em;
}
.player:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style des images des joueurs */
.player-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px 0;
    transition: transform 0.3s ease;
    margin: 10px auto; /* Ajustement de la marge */
}

.player-image:hover {
    transform: rotate(360deg);
}

/* Style des champs de saisie du nom du joueur */
.player-name {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;
    transition: border-color 0.3s ease;
    font-size: 1em; /* Ajustement de la taille de la police */
    margin: 10px auto; /* Ajustement de la marge */
}

.player-name:focus {
    border-color: var(--blue);
}

.points-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.points-control button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 15px; /* Augmente le padding pour de plus grands boutons */
    font-size: 1.5em; /* Augmente la taille de la police pour les boutons */
    cursor: pointer;
    margin: 0 10px; /* Ajuste l'espacement entre les boutons et le compteur de points */
    border-radius: 50%; /* Boutons circulaires */
    transition: background-color 0.2s ease; /* Transition pour l'effet au survol */
    padding: 10px; /* Ajustement du padding pour un bouton de taille modérée */
    font-size: 1.2em; /* Ajustement de la taille de la police */

}
.points-control .minus {
    border-radius: 50%; /* Bouton circulaire */
}

.points-control .plus {
    border-radius: 50%; /* Bouton circulaire */
}

.points-control button:hover {
    background-color: var(--green); /* Couleur au survol */
}

.points {
    min-width: 60px; /* Ajuste la largeur minimum pour le compteur */
    text-align: center;
    border: 1px solid #ddd; /* Bordure pour l'esthétique */
    border-radius: 10px; /* Bordures légèrement arrondies */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease; /* Transition pour l'effet au survol */
    padding: 5px 15px; /* Ajustement du padding */
    font-size: 1.4em; /* Ajustement de la taille de la police */

}

.points:hover {
    background-color: #f2f2f2; /* Couleur de fond au survol pour le compteur de points */
}

/* Responsive design pour une colonne sur les petits écrans */
@media (max-width: 768px) {
    .players-section {
        grid-template-columns: 1fr;
    }
}

/* Boutons de jeu pour les fonctions avancées */
.game-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.game-buttons button {
    padding: 0.5em 1em;
    font-size: 0.9em; /* Petite taille de police pour les mobiles */
}


.game-buttons button:hover {
    background-color: var(--green);
}

/* Assurez-vous que vos boutons ne sont pas trop larges pour éviter qu'ils ne débordent */
@media (max-width: 768px) {
    .game-buttons {
        flex-direction: column;
    }
}

.warning-message {
    background-color: #ffcc00;
    color: #333;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em; /* Petite taille de police pour les mobiles */
    border-radius: 5px;
    margin: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.warning-message p {
    margin: 0; /* Aucune marge supplémentaire pour le paragraphe */
    font-weight: bold; /* Texte en gras pour l'importance */
}

.materials-main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.materials-intro h1 {
    color: #5DADE2; /* Blue color for the title */
    font-size: 2.5em;
    margin-bottom: 10px;
}

.materials-intro p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #515A5A; /* Dark grey color for the text */
}

.material-item {
    border: 1px dashed #5DADE2; /* Dashed border with the theme blue color */
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9; /* Light background for the material sections */
    transition: all 0.3s ease;
    text-align: center;
}

.material-item h2 {
    color: #2C3E50; /* Darker blue for the section titles */
    font-size: 2em;
    margin-bottom: 5px;
}

.material-item p {
    font-size: 1em;
    color: #7f8c8d; /* Soft grey color for the description */
    margin-bottom: 15px;
}

.material-link {
    padding: 10px 20px;
    background-color: #58D68D; /* Green color for the download links */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.material-link:hover, .material-link:focus {
    background-color: #45B39D; /* Darker green for the hover state */
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .materials-main {
        padding: 10px;
    }

    .material-item {
        margin: 10px 0;
    }
}
@media (max-width: 768px) {
    /* Ajustements pour la section des joueurs */
    .players-section {
        display: block; /* ou 'grid' avec une seule colonne */
        padding: 1em;
    }

    .player {
        margin-bottom: 1em; /* Espace entre les joueurs */
    }

    /* Boutons de commande de jeu */
    .game-buttons {
        flex-direction: column;
    }

    .game-buttons button {
        width: 100%; /* Les boutons prennent toute la largeur */
        margin-bottom: 0.5em; /* Espace entre les boutons */
    }

    /* Ajustements pour les contrôles des points */
    .points-control {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .points-control button {
        flex: 1; /* Les boutons s'étendent pour remplir l'espace */
        margin: 0 5px; /* Espace autour des boutons */
    }

    .points {
        flex: 2; /* L'affichage des points prend plus d'espace */
        margin: 0 5px; /* Espace autour de l'affichage des points */
    }
}
