/* Root Variables */
:root {
    --yellow: #F4D03F;
    --blue: #5DADE2;
    --pink: #F5B7B1;
    --green: #58D68D;
    --text-grey: #515A5A;
    --text-dark: #2C3E50;
}

/* Global Styles */
html, body, main {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: var(--text-dark);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: white;
    color: var(--text-dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo img {
    height: 50px;
}

.nav-links a {
    color: var(--text-dark);
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav-links a:hover, .nav-links a:focus {
    color: var(--blue);
    transform: translateY(-2px);
}

.nav-github img {
    height: 30px;
    filter: grayscale(100%);
}

.nav-github img:hover, .nav-github img:focus {
    filter: none;
}

/* Game Introduction Styles */
.game-introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.game-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.game-description {
    width: 50%;
}

.game-description h2 {
    animation: popIn 0.5s ease-out forwards;
}

@keyframes popIn {
    0% { transform: scale(0); }
    80% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.game-description p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-grey);
    margin: -10px;
}

.cratorimg {
    display: inline-block;
width: 60%;
margin: 0 auto;
border-radius: 20%;
                margin: 0 auto; /* Centrage de l'image */
                object-fit: cover; /* S'assure que l'image couvre complètement la zone sans être déformée */
}
/* Responsive Design for Game Introduction */
@media (max-width: 768px) {
    .game-introduction {
        flex-direction: column;
        text-align: center;
    }

    .game-image, .game-description {
        width: 100%;
    }

    .game-image img {
        margin-bottom: 20px;
    }
}

/* Banner Styles */
.game-banner {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url('images/bg_website.png') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 50px 20px;
    color: white;
    position: relative;
}

.game-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.game-banner h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.game-banner p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.trailer-button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.trailer-button:hover {
    background-color: var(--yellow);
    cursor: pointer;
}

/* Home Game Intro Styles */
.home-game-intro {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    transition: background-color 0.3s ease;
    position: relative;
    }
    
    .home-game-intro:hover {
    background-color: var(--yellow);
    }
    
    .intro-content {
    position: relative;
    }
    
    .intro-text, .intro-hover-text {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    opacity: 0;
    margin-top: 40px;
    visibility: hidden;
    }
    
    .intro-text {
    opacity: 1;
    visibility: visible;
    }
    
    .home-game-intro:hover .intro-text {
    opacity: 0;
    visibility: hidden;
    }
    
    .home-game-intro:hover .intro-hover-text {
    opacity: 1;
    visibility: visible;
    }
    
    .home-game-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    
    .home-game-button:hover {
    background-color: var(--green);
    }
    
    /* Creators Section Styles */
    .creators-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px;
    text-align: center;
    }
    
    .creator img {
    width: 75%;
    max-width: 130px;
    margin: 0 auto;
    border-radius: 40%;
    }
    
    .creator h3 {
    margin: 10px 0;
    }
    
    .creator p {
    color: #666;
    font-size: 14px;
    }
    
    .creator a {
    display: inline-block;
    margin-top: 10px;
    }
    
    .linkedin-icon {
    width: 20px;
    height: auto;
    display: block;
    margin: 5px auto;
    }
    
    .linkedin-icon:hover {
    opacity: 0.8;
    }
    
    @media (max-width: 768px) {
    .creators-section {
    grid-template-columns: 1fr;
    }
    }
    
    /* Player Section Styles */
    .players-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center
    }
    
    .player {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    padding: 15px;
    height: auto;
    }
    
    .player:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .player-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px 0;
    transition: transform 0.3s ease;
    }
    
    .player-image:hover {
    transform: rotate(360deg);
    }
    
    .player-name {
    margin: 10px 0;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
    text-align: center;
    transition: border-color 0.3s ease;
    font-size: 1em;
    margin: 10px auto;
    }
    
    .player-name:focus {
    border-color: var(--blue);
    }
    
    .points-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    }
    
    .points-control button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    }
    
    .points-control .minus {
    border-radius: 50%;
    }
    
    .points-control .plus {
    border-radius: 50%;
    }
    
    .points-control button:hover {
    background-color: var(--green);
    }
    
    .points {
    min-width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    padding: 5px 15px;
    font-size: 1.4em;
    }

    .points:hover {
        background-color: #f2f2f2;
    }
    
    
    /* Game Buttons Styles */
    .game-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        gap: 20px;
    }
    
    .game-buttons button {
        background-color: var(--blue);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .game-buttons button:hover {
        background-color: var(--green);
    }
    
    @media (max-width: 768px) {
        .game-buttons {
            flex-direction: column;
        }
    }
    
    /* Warning Message Styles */
    .warning-message {
        background-color: #ffcc00;
        color: #333;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    .warning-message p {
        margin: 0;
        font-weight: bold;
    }
    
    /* Materials Page Styles */
    .materials-main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .materials-intro h1 {
        color: #5DADE2;
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    
    .materials-intro p {
        font-size: 1.2em;
        line-height: 1.6;
        color: #515A5A;
    }
    
    .material-item {
        border: 1px dashed #5DADE2;
        margin: 20px 0;
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
        transition: all 0.3s ease;
        text-align: center;
    }
    
    .material-item h2 {
        color: #2C3E50;
        font-size: 2em;
        margin-bottom: 5px;
    }
    
    .material-item p {
        font-size: 1em;
        color: #7f8c8d;
        margin-bottom: 15px;
    }
    
    .material-link {
        padding: 10px 20px;
        background-color: #58D68D;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        font-weight: bold;
    }
    
    .material-link:hover, .material-link:focus {
        background-color: #45B39D;
        color: white;
    }
    
    @media (max-width: 768px) {
        .materials-main {
            padding: 10px;
        }
    
        .material-item {
            margin: 10px 0;
        }
    }
    
    /* Footer Styles */
    footer {
        background-color: var(--text-dark);
        color: white;
        padding: 20px 0;
        text-align: center;
    }
    
    .footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media (min-width: 768px) {
        .footer-section {
            flex-direction: row;
            justify-content: space-between;
        }
    
        .footer-links, .footer-page-links {
            flex: 1;
            display: flex;
            justify-content: space-around;
        }
    
        .footer-logo {
            flex: 0;
        }
    }
    
    .footer-links a, .footer-page-links a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
    
    .footer-links a:hover, .footer-page-links a:hover {
        text-decoration: underline;
    }
    
    .footer-logo img {
        max-width: 100px;
        margin-bottom: 10px;
    }

    /* CSS spécifique pour les petits écrans, par exemple les téléphones */
@media (max-width: 768px) {
    .players-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player {
        width: 90%; /* Ajuster selon la largeur souhaitée */
        margin-bottom: 20px; /* Espacement entre les cartes */
    }
    .player-image {
        width: 100px; /* Ajuster selon la taille souhaitée */
        height: 100px;
    }

    .player-name, .points-control button, .points {
        font-size: 1.2em; /* Ajuster la taille de la police */
    }

    .points-control button {
        padding: 10px 20px; /* Ajuster le padding */
    }

    .points {
        width: 50px; /* Ajuster la largeur */
    }

    .job {
        font-size: 1.1em; /* Augmentation de la taille du texte pour l'emploi */
        margin: 10px 0; /* Espacement avant et après l'emploi */
    }

    .points-control {
        flex-direction: column; /* Les boutons en colonne */
        align-items: center; /* Centrage des boutons */
    }

    .minus, .plus {
        font-size: 2em; /* Boutons plus grands */
        padding: 10px 20px; /* Plus grand champ de toucher */
        margin: 5px 0; /* Espacement entre les boutons */
    }

    .game-buttons {
        flex-direction: column; /* Les boutons de jeu en colonne */
        align-items: center; /* Centrage des boutons */
        gap: 15px; /* Espacement entre les boutons */
    }

    .game-buttons button {
        font-size: 1.2em; /* Augmentation de la taille de la police pour les boutons */
        padding: 15px 25px; /* Plus grand champ de toucher */
    }

    .warning-message {
        font-size: 1.2em; /* Police plus grande pour le message d'avertissement */
    }
    .trailer-button {
        font-size: 0.6em;
        padding: 8px 16px; /* Réduction de l'espacement interne */
        margin-top: 10px; /* Ajustement de la marge */
    }
}